a{
    color: white;
    background: black;
    padding: 12px 30px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 30px;
}
a:hover{
    color: black;
    background-color: white;
}